header{
    height: 70px;
    background-color: #2C3E50;
}
.centratura-v{
    line-height: 70px;
}
.titolo-head{
    display: flex;
    align-items: center;
}
.div-menu{
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    background-color: violet;
    border-radius: 1px solid red;!important
}
header a{
    text-decoration: none;
    color: white;
}
.section-1{
    margin-top: 70px;
}

.container1{
    height: 70px;
}
header, .container2{
    color: white;
}
.spazio-img{
    width: 300px;

}
img .jumbo{
    width: 100%;
}
.graph{
    font-size: 20px;
}
h2{
    font-size: 35px;
}
.bg-image:hover .box-shadow, .bg-image:hover .symbol-cross{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.symbol-cross{
    display: none;
    position: absolute;
    font-size: 60px;
    color: white;
}
.box-shadow{
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 16, 16, 0.4);
    border-radius: 10px;
}
.bg-image{
    
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.bg-image1{
    background-image: url('../bootstrap_freelancer/img/cabin.png');
    
}

.bg-image2{
    background-image: url('../bootstrap_freelancer/img/cake.png');
}
.bg-image3{
    background-image: url('../bootstrap_freelancer/img/circus.png');
}
.bg-image4{
    background-image: url('../bootstrap_freelancer/img/game.png');
}
.bg-image5{
    background-image: url('../bootstrap_freelancer/img/safe.png');
}
.bg-image6{
    background-image: url('../bootstrap_freelancer/img/submarine.png');
}
.color-section{
    color: white;
}
.background-section-2{
    background-color: #1ABC9C;
}
.background-section-3{
    height: 200px;
    color: white;
    background-color: #3A546D;
}
.cc-botton{
    color: white;
    border-color: white;
}
.cc-botton:hover{
    color: black;
    background-color: white;
    border-color: white;
}
.container2{
    min-height: 400px;
}
.container4{
    min-height: 300px;
}
.container5{
    min-height: 300px;
}
.text-lungo{
    min-height: 100px;
}
.container6{
    min-height: 200px;
    line-height: 20px;
}
.container6 i{
    
}
.icon-app{
    display: flex;
    flex-direction: row;
    justify-content: center
}
.background-section-3 span{
    color: #1ABD9C;
}
.icon-all{
    font-size: 10px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px 10px;
    border-color: white;
    margin-right: 6px;
}
.container7{
    min-height: 60px;
}
.image{
    min-height: 220px;
}
.cc-bord{
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 0;
}
input::placeholder{
    color: black;
}
.btn-green{
    background-color: #1ABC9C;
}
.flex{
    display: flex;
    align-items: center;
}
footer{
    height: 60px;
    font-size: 13px;
    color: white;
}
.section-footer{
    background-color: #2C3E50;
}
footer i{
    font-size: 10px;
}