header{
    height: 70px;
}
.container2{
    min-height: 400px;
}
.container4{
    min-height: 300px;
}
.container5{
    min-height: 300px;
}
.text-lungo{
    min-height: 100px;
}
.container6{
    min-height: 200px;
}
.container7{
    min-height: 60px;
}